@use "utils/a11y";
@use "vendor/reset";

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  h1, h2, p {
    color: white;
  }
  
  h3 {
    font-size: 1.2rem;
  }  

  button {
    cursor: pointer;
  }
}

.app {
  background-color: rgba(22, 11, 11, 0.65);
  border: solid 3px black;
  border-radius: 20px;
  padding: 3rem;
  width: 100%;
  min-height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.findMyLocation, .city-search {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.currentPositionFailure {
  width: 100%;
  margin-bottom: 10px;
  color: darkorange;
}

.or {
  text-align: center;
}

.cityInfo {
  font-size: 1.8rem; 
}

.temperatureInfo{
  font-size: 2.2rem;
}
  
.descriptionInfo {
  display: flex;
  align-items: center;
}
  
.specifics {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.forcast24h, .currentWeatherButton {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
  
.forcastTitle {
  text-align: center;
  margin: 0 40px;
}

.hidden {
  display: none;
}